/* ==============
   common styles 
================*/

@font-face {
  font-family: "Proxima Nova Alt";
  src: url("../fonts/FontsFree-Net-ProximaNovaAltRegular.ttf");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Proxima Nova Alt";
  scroll-behavior: smooth;
}
body {
  background-color: #f7fcff;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

/* ==============
   header styles 
================*/
.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 35px;
}
nav ul li:last-child {
  margin-right: 0px;
}
nav ul li a {
  color: #1c4961;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  /* background-color: #4468e2; */
  color: rgb(235, 76, 76);
}

.connect_btn {
  text-decoration: none;
  color: #fff;
  background-color: #4468e2;
  border-radius: 17px;
  padding: 7px 25px;
  font-size: 19px;
}

.hamburger {
  display: none;
  font-size: 40px;
  cursor: pointer;
}
#banner {
  min-height: calc(100vh - 70px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner_banner h1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.banner_text p {
  max-width: 480px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.banner_explore_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 876px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}
.banner_box {
  text-align: left;
}
.banner_box h4 {
  color: #151515;
  margin-bottom: 7px;
}
.banner_box p {
  color: #7e7e7e;
  font-size: 16px;
}
.banner_box .search_box {
  display: flex;
  align-items: center;
  color: #7e7e7e;
  font-size: 16px;
}
.banner_box .search_box input {
  border: none;
  outline: 0;
}
.explore_btn {
  background-color: #4468e2;
  font-size: 18px;
  width: 187px;
  height: 63px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.box_before {
  position: relative;
}

.box_before::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d6d4d4;
  left: -80%;
  bottom: 0;
}

/* =============
 features section 
 =================*/
#features {
  margin: 150px 0;
}
.inner_features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.feature_box {
  padding: 20px;
  box-shadow: 10px 40px 50px #e5e9f6;
  border-radius: 20px;
  flex-basis: 23%;
}
.feature_box p {
  margin-top: 20px;
}
/* =============
 destination section 
 =================*/
#destination {
  margin-bottom: 150px;
  padding: 50px 0;
  background-color: #f1faff;
}
.inner_destination {
  color: #163235;
}
.inner_destination h2 {
  margin-bottom: 50px;
  text-align: center;
}
.inner_destination > ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  flex-wrap: wrap;
  font-size: 18px;
}

.inner_destination > ul li {
  list-style: none;
  position: relative;
  text-align: center;
}
.inner_destination > ul li:first-child::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -12px;
  border-radius: 5px;
}

.destination_items_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
  margin-top: 50px;
}
.destination_item {
  flex-basis: 30%;

  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgb(242, 244, 255);
}
.destination_item p {
  margin: 20px 0;
}

.des_image {
  width: 100%;
}
.des_image img {
  width: 100%;
}

.cost_container {
}
.d_icon {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.d_icon ul {
  display: flex;
  align-items: center;
}

.d_icon li {
  list-style: none;
  margin-right: 10px;
}
.total_cost {
  font-size: 24px;
}

.trip_duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* =============
 blogs section 
 =================*/
#blogs {
  margin-bottom: 150px;
}
.inner_blogs h2 {
  text-align: center;
  margin-bottom: 50px;
}
.blogs_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blogs_left {
  background-image: url("../images/blogs/blog-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs_left h2 {
  max-width: 300px;
  color: #fff;
  text-align: center;
  font-size: 35px;
}
.blogs_right {
  width: 49%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.blogs_right h3 {
  max-width: 250px;
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.right_bottom h3 {
  max-width: 400px;
}

.right_top {
  background-image: url("../images/blogs/blog-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_bottom {
  background-image: url("../images/blogs/blog-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =============
 customers section 
 =================*/
#customers {
  margin-bottom: 200px;
}
.inner_customers h2 {
  text-align: center;
  margin-bottom: 50px;
}
.customers_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: ;
  flex-wrap: wrap;
}
.customer {
  flex-basis: 49%;
  box-shadow: 10px 40px 50px #e5e9f6;
  border-radius: 18px;
  padding: 40px 20px 30px 80px;
  /* background-image: url("../images/customers/quote.png");
  background-repeat: no-repeat;
  background-position: 20px 40px; */
}

.customer > p {
  margin-bottom: 30px;
  position: relative;
}
.customer > p:before {
  content: "";
  background-image: url("../images/customers/quote.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -65px;
}

.customer_info {
  display: flex;
  align-items: center;
}
.customer_info img {
  height: 60px;
  margin-right: 20px;
}
.designation {
  color: #848484;
}
/* =============
 footer section 
 =================*/
footer {
  /* margin-bottom: 100px; */
}
.inner_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1e8f8;
  padding: 50px 30px;
}
.inner_footer ul {
  display: flex;
}
.inner_footer ul li {
  list-style: none;
  margin-right: 20px;
}
.inner_footer ul li:last-child {
  margin-right: 0px;
}
.inner_footer ul li a {
  text-decoration: none;
  color: #000;
}
